<!DOCTYPE html>

<html lang="es" ng-app="AppAcademia">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Academia</title>

    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="DiseñoPlantilla/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="DiseñoPlantilla/bootstrap.min.css">

<!--    importamos el framework y el controlador-->
    <script src="Angular/angular.min.js"></script>
    <script src="App/app.js"></script>


  </head>

  <body id="page-top" ng-controller="Controlador1">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand mr-1" href=""> <h3> Academia Danny´s</h3></a>

      <!-- Navbar Search -->
     <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">

      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">


        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Salir</a>
          </div>
        </li>
      </ul>
    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav" >
        <li class="nav-item "  ng-click="FormInscripciones()">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-user"></i>
            <span>Inscribir</span>
          </a>
        </li>

    <!--    Menu desplegable-->
      <!--  <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="pagesDropdown">
            <h6 class="dropdown-header">Login Screens:</h6>
            <a class="dropdown-item" href="AcademiaProyecto/otros%20archivos/login.html">Login</a>
            <a class="dropdown-item" href="AcademiaProyecto/otros%20archivos/register.html">Register</a>
            <a class="dropdown-item" href="AcademiaProyecto/otros%20archivos/forgot-password.html">Forgot Password</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Other Pages:</h6>
            <a class="dropdown-item" href="AcademiaProyecto/otros%20archivos/404.html">404 Page</a>
            <a class="dropdown-item" href="AcademiaProyecto/otros%20archivos/blank.html">Blank Page</a>
          </div>
        </li>-->

        <li class="nav-item" ng-click="FormAlumnosInscritos()">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-user"></i>
            <span>Alumnos Inscritos</span></a>
        </li>
        <li class="nav-item"  ng-click="FormNotas()">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>Notas</span></a>
        </li>
        <li class="nav-item"  ng-click="FormMensualidades()">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-money-check"></i>
            <span>Mensualidades</span></a>
        </li>

        <li class="nav-item" ng-click="FormRetAlumnos()" >
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-user"></i>
            <span>Retirar Alumnos</span></a>
        </li>
        <li class="nav-item"  ng-click="FormRepGeneral()">
          <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>Reporte General</span></a>
        </li>
      </ul>


  <!--    todos los formularios-->
      <div id="content-wrapper" >

        <div ng-include="'Formularios/FrmInscripciones.html'"></div>
        <div ng-include="'Formularios/FrmAlumnosInscritos.html'"></div>
        <div ng-include="'Formularios/FrmNotas.html'"></div>
        <div ng-include="'Formularios/FrmMensualidades.html'"></div>
        <div ng-include="'Formularios/FrmRetirarAlumnos.html'"></div>
        <div ng-include="'Formularios/FrmReportes.html'"></div>
      </div>
<!--      hasta aqui todos los formularios-->



        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>ATI 2019 V.1</span>
            </div>
          </div>
        </footer>
      </div>
      <!-- /.content-wrapper -->
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
